<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') -%>
</head>

<body>
  <div class="container">

    <%- include('./partials/formulario') -%>
      <hr class="my-4">

  </div>


</body>

</html>